@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.logo{
	top: 30px;
	position: absolute;
	left: 60px;
}

.triangle1{
	width: 100px;
	height: 350px;
	background: #3c3c3b;
	position: absolute;
	bottom: 263px;
	margin-left: 400px;
}

.triangle2{
	width: 100px;
	height: 350px;
	border-bottom: 350px solid #3c3c3b;
	border-left: 100px solid transparent;
	position: absolute;
	bottom: 263px;
	margin-left: 200px;
}


h1{
	color: white;
	top: 80px;
	margin-left: 300px;
	position: absolute;
}

h3{
	color: #f7b617;
	top: 140px;
	margin-left: 300px;
	position: absolute;
	font-size: 14px;

}

.uno{
	color: white;
	top: 200px;
	margin-left: 280px;
	font-size: 12px;
	position: absolute;

}

.dos{
	color: white;
	top: 220px;
	margin-left: 280px;
	font-size: 12px;
	position: absolute;

}

.tres{
	color: white;
	top: 240px;
	margin-left: 280px;
	font-size: 12px;
	position: absolute;

}

.icono-final{
	position: absolute;
	top: 308px;
	left: 458px;
}